#dependencies
node_modules

#yarn v3
.yarn/*
!.yarn/releases
!.yarn/plugins

#build artifacts
dist/

#logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
coverage

#misc
.DS_Store
